site_name: Straight up Guiding it
site_url: https://sodasyrup.github.io/guidingit/
site_author: Soda/Salad
use_directory_urls: true

# Repository
repo_name: SodaSyrup/guidingit
repo_url: https://github.com/SodaSyrup/guidingit

# Configuration
theme:
  name: material
  # custom_dir: 
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.footer
    - navigation.top
    - toc.follow
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: cyan
      accent: deep orange

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  favicon: assets/favicon.ico
  font:
    text: Merriweather Sans
    code: Red Hat Mono
copyright: All rights reserved

# Extensions
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

# Plugins
plugins:
  - search
  - awesome-pages:
      collapse_single_pages: true
      strict: true
  - git-authors:
      show_email_address: false
      sort_authors_by: contribution
      fallback_to_empty: true
      show_contribution: true
      strict: !ENV [ ENABLE_STRICT_GIT_AUTHORS, false ]
      enabled: !ENV [ ENABLE_GIT_AUTHORS, false ]
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
      fallback_to_build_date: false
      strict: !ENV [ ENABLE_STRICT_GIT_REVISION_DATE, false ]
      enabled: !ENV [ ENABLE_GIT_REVISION_DATE, false ]

# Page tree
# nav:
#   - Home: index.md
#   - Getting Started:
#     - Code Examples: code-examples.md
#     - Content Tabs: content-tabs.md
#   - Mod Guides:
#     - Mod Guides: mods/README.md
#     - Lucky Duck's Fortune Cookies: mods/luckyduckfortunecookie/README.md