site_name: Straight up Guiding it
site_url: https://sodasyrup.github.io/guidingit/
site_author: Soda/Salad
use_directory_urls: true

# Repository
repo_name: SodaSyrup/guidingit
repo_url: https://github.com/SodaSyrup/guidingit

# Configuration
theme:
  name: material
  custom_dir: overrides
  language: en
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.footer
    - navigation.top
    - toc.follow
  palette:
    # Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Dark mode

    # Light Mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Light mode
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  favicon: assets/favicon.ico
  font:
    text: "Nunito"
copyright: All rights reserved


# Extensions
markdown_extensions:
  - extra
  - smarty
  - toc:
      permalink: true
      title: <b>Table Of Contents</b>
  - admonition
  - attr_list
  - abbr
  - sane_lists
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.betterem
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - def_list
  - md_in_html
  - footnotes
  - tables
  
# Plugins
plugins:
  - search
  - awesome-nav
  - meta-descriptions
  - git-authors:
      show_email_address: false
      sort_authors_by: contribution
      fallback_to_empty: true
      show_contribution: true
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
      fallback_to_build_date: false
  - minify:
      minify_html: !ENV [ ENABLE_MINIFY, false ]
      minify_js: !ENV [ ENABLE_MINIFY, false ]
      minify_css: !ENV [ ENABLE_MINIFY, false ]
      htmlmin_opts:
        remove_comments: !ENV [ ENABLE_REMOVE_COMMENTS, false ]
      cache_safe: true
  - glightbox:
      touchNavigation: true
      loop: true
      effect: fade
      slide_effect: fade
      width: auto
      height: auto
      draggable: false
      auto_caption: true
      caption_position: bottom

validation:
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: info
  links:
    not_found: warn
    absolute_links: info
    unrecognized_links: info