mkdocs
mkdocs-material
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-markmap
mkdocs-glightbox
mkdocs-awesome-nav
mkdocstrings
mkdocs-autorefs
mkdocs-meta-descriptions-plugin
mkdocs-minify-plugin